.vs/
.idea/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.log
*.user
*.suo
*.cache
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.tmp
*.csproj.user
*.resharper
*.bak
packages/

app_data/

*.userprefs
.DS_Store
Thumbs.db